<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<section class="container">

  <h1 class="text-center"> Account maker </h1>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'name' %>
      <%= text_field_tag 'name', @post %>
      <br /> <br />

     

       <%= label_tag 'email' %>
      <%= text_field_tag 'email', @post %>
      <br /> <br />

    
      <%= submit_tag "S'inscrire" %>

    <% end %>

       <%= @i %>

     <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
     <%= msg %>
      </div>
    <% end %>

</section>

<div>
  <%= link_to "Back to users", users_path %>
</div>
